<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="java" arguments="-Dserver.port=%HTTP_PLATFORM_PORT% -jar app.jar" startupTimeLimit="20" />
  </system.webServer>
</configuration>
